.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4f4949;
  }
  
  .login-form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #ffffff;
  }
  