@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  width:100%;
    background-color: #333;
}

* {
    margin: 0;
    font-family: "Quicksand";
    color: #d3cccc;
  }
a {
  text-decoration: none;
  transition: transform 0.2s ease-out;
}

a:hover {
  transform: scale(1.2);
  
}

  .navbar {
    padding: 20px 20px 5px 20px;
    display: flex;
    align-items: center;
    max-width: 75vw;
    margin: 0 auto;
  }
  .navbar h1 {
    font-size: 3vw;
    color: #49373d;
  }

  .navbar #logo {
    width:6vw;
    margin-right: -1vw;
  }

  .navbar .links {
    font-size: 1em;
    margin-left: auto;
    display:flex;
    flex-direction: row;
  }
  .navbar a {
    margin-left: 2vw;
    text-decoration: none;
    padding: 6px;
    
  }

  .navbar .flex-container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .navbar a:hover {
    color: #f1356d;
  }

  .content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
  }

.navbar .nav-icon{
    font-size: 1.5em;
  }

  .navbar .nav-option {
    font-size: 0.75em;
  }

.navbar .searchbar {
  flex-direction: column;
  width: 25vw;
  padding: 1vh 2vw 0 0;
}

.navbar input[type=text] {
  width:100%;
  height: 70%;
  border-color:#333;
  border-radius: 10px;
  font-size: 100%;
  color: #333;
  background-color: #4f4949;
  border-style: none;
  
}

textarea:focus, input:focus{
  outline: none;
  box-shadow: 0vh 0.5vh 1vw 0 rgb(80, 80, 80);
}



.navbar .search-icon {
  padding-top: 2vh;
  font-size: 1.6em;
  border-right: 1px solid gray;
  border-spacing: 10px;
  padding-right: 1.5vw;
}

.navbar-sub {
  padding: 20px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px solid #d3cccc;
    border-top: 1px solid #d3cccc;
    background-color: #4f4949;
    
}

.navbar-sub .category-list {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navbar-sub .category-item {
  display: flex;
  flex-direction: row;
  margin-left: 4em;
  justify-content: center;
}

.navbar-sub .category-icon {
  text-align: center;
  font-size: 1.5em;
}

.navbar-sub .category-title {
  max-width: 4.5vw;
  font-size: 0.8em;
  text-align: center;
}

.banner {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;  
}

.banner-item {
  width: 65vw;
  height: 40vh;
  border: 1px solid #333;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.3)
}

.arrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.3);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
}

.left-arrow::before {
  border-width: 10px 14px 10px 0;
  border-color: transparent #fff transparent transparent;
  margin: 0 0 0 -2px;
}

.right-arrow::before {
  border-width: 10px 0 10px 14px;
  border-color: transparent transparent transparent #fff;
  margin: 0 0 0 -1px;
}

.left-arrow {
  background-color: #4f4949;
  margin-right: -20px;
  z-index: 1;
}

.right-arrow {
  background-color: #4f4949;
  margin-left: -20px;
}


